{% extends "layout.html" %}

{% block content %}
        <article class="mod-post mod-post__type-post">
        <header>
            <h1 class="mod-post__title">{{article.title}}</h1>
        </header>
        <div class="mod-post__entry wzulli">
            {{article.content}}
        </div>
        <div class="mod-post__meta">
            <div>
                <div>— <span>Published Date: <time datetime="{{article.locale_date}}">{{article.locale_date}}</time></span>
                </div>
                <div>— Tags: <span class="mod_tag">
                    {% for tag in article.tags %}
                    <a href="{{tag.url}}" rel="tag">{{tag.name}}</a>
                    {% endfor %}</span>
                </div>
            </div>
        </div>
    </article>
    <section class="mod-comment">
        {% if article.comments|default(true, true) and COMMENT_STATUS %}
            {% if COMMENT == 'disqus' %}
                {# <div id="disqus_thread"></div>#}
                {# <button id="load-disqus" class="load-disqus" onclick="disqus.load();">
                    加载 Disqus 评论
                </button>#}
                <div style="text-align:center;">
                  <button class="load-disqus" id="load-disqus" onclick="disqus.load();">加载 Disqus 评论</button>
                </div>
                <div id="disqus_thread"></div>
            {% endif %}
        {% endif %}

        <div class="navigation">
            <div class="alignleft"></div>
            <div class="alignright"></div>
        </div>
        <!-- #respond -->
    </section>

{% endblock %}
