{% extends "layout.html" %}

{% block content %}
<section class="archives-wrap">
    <div class="archives">

        {% for article  in dates %}
        <article class="archive-article archive-type-post">
            <div class="archive-article-inner">
                <header class="archive-article-header">
                    <a href="{{SITEURL}}{{article.url}}" class="archive-article-date">
                        <time datetime="{{article.date}}" itemprop="datePublished">{{article.locale_date}}</time>
                    </a>
                    <h1 itemprop="name">
                        <a class="archive-article-title" href="{{SITEURL}}{{article.url}}">{{article.title}}</a>
                    </h1>
                </header>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
